* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* HEADER */

.header-container {
  max-width: 100%;
  background-image: url(../img/jumbo.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* height: 500px; */
}

.header-row {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  margin: 0 auto;
  height: 450px;
}

.main-row-1 {
}

.header-col-dx,
.header-col-sx {
  width: 20%;
}

.header-col-center {
  width: 60%;
}

.black-b {
  background-color: black;
  color: white;
}

.b-between {
  margin-right: 10px;
}

.main-col1 {
  margin: 18px auto;
  /* width: 80%; */
  /* height: 282px; */
}

.header-content {
  margin: 10px 0;
  padding: 5px;
}

.header-col-center > .header-content {
  text-align: center;
}

.header-col-dx > .header-content {
  text-align: end;
}

.main-col1 > .header-content {
  color: white;
  font-size: 21px;
  font-weight: 700;
  text-align: center;
}

.header-content > p {
  font-size: medium;
  font-weight: 300;
  margin-top: 30px;
  /* word-wrap: break-word; */
  /* white-space: pre-wrap; */
}

ul {
  list-style-type: none;
}

li {
  display: inline-block;
  padding: 5px 15px;
}

a {
  color: white;
  text-decoration: none;
}

.b-values {
  margin-top: 10px;
  padding: 9px;
  border-radius: 16px;
  border: none;
}

/* MAIN */

.main-container {
  max-width: 100%;
}

div[class^="main-row"] {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
}

h2 {
  font-size: 30px;
  padding-bottom: 30px;
}

.main-row-2 {
  padding: 0 25%;
}

.main-row-3 {
  padding: 0 25%;
  background-color: rgba(211, 211, 211, 255);
}

.main-row-4 {
  padding: 0 25%;
  background-color: rgba(211, 211, 211, 255);
}

.main-col-dx2 {
  margin: 18px auto;
  width: 65%;
}

.main-col-sx2 {
  margin: 18px auto;
  width: 35%;
}

.main-col-sx2-content {
  text-align: center;
}

.main-col-dx3 {
  margin: 18px auto;
  width: 35%;
}

.main-col-sx3 {
  margin: 18px auto;
  width: 65%;
  /* order: 1; */
}

.main-col4 {
  margin: 18px auto;
  width: 100%;
}

/* FOOTER */

.footer-container {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 1px;
  align-items: end;
  background-color: rgba(35, 39, 42, 255);
}

.main-row-5 {
  padding: 0 25%;
}

.main-col-5-red {
  margin: 5px auto 18px;
  width: 40%;
  height: 300px;
}

.main-col-5 {
  margin: 5px auto 18px;
  width: 15%;
}

.footer-row {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  margin: 1px auto;
  justify-content: space-between;
}

.footer-col1 {
  margin: 15px 0;
}

.footer-col2 {
  margin: 15px 0;
}

.footer-content {
  padding: 4px;
}

.main-col-5-content > p {
  color: white;
  margin: 20px 0;
}

span {
  color: white;
}

h4 {
  color: rgba(114, 137, 218, 255);
}

.main-col-5-red-content > h3 {
  color: rgba(114, 137, 218, 255);
}

.darkblue-hr {
  background-color: rgba(114, 137, 218, 255);
  height: 1px;
  width: 100%;
}

.footer-button {
  padding: 9px;
  border-radius: 16px;
  border: none;
  color: white;
  background-color: rgba(114, 137, 218, 255);
}
